@import "../../../styles/colors.scss";
@import "../../../styles/font-mixins.scss";


.Blogpostitem {
  margin: 40px 0;

}

.Blogpostheader {
  margin-bottom: 15px;
}

.Blogpostdate {
  background-color: $color-grey-super-ultra-light;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px 10px;
  margin-right: 30px;
  @include small-text-font($color-grey-normal);
}

.Blogposttitle {
  @include very-small-title-font($color-black);
}
